<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        <meta charset="utf-8">
        <title>Another News Website | {% block title %}{% endblock %}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free HTML Templates" name="keywords">
        <meta content="Free HTML Templates" name="description">

        <link href="{{ asset("img/favicon.ico", "assets") }}" rel="icon">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

        <!-- Font Awesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{{ asset("lib/owlcarousel/assets/owl.carousel.min.css", "assets") }}" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="{{ asset("css/style.css", "assets") }}" rel="stylesheet">
        <link href="{{ asset("css/custom.css", "assets") }}" rel="stylesheet">
    {% endblock %}
</head>
<body>

{% include directory ~ '/partials/header.twig' %}

{% block content %}
{% endblock %}

{% include directory ~ '/partials/footer.twig' %}

<a href="#" class="btn btn-primary btn-square back-to-top"><i class="fa fa-arrow-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{{ asset("lib/easing/easing.min.js", "assets") }}"></script>
<script src="{{ asset("lib/owlcarousel/owl.carousel.min.js", "assets") }}"></script>

<!-- Template Javascript -->
<script src="{{ asset("js/main.js", "assets") }}"></script>
</body>

</html>